.title {
  position: relative;
  height: 100px;
  text-align: center;
  padding-top: 12px;
}

h1 {
  color: #fff;
  font-variant: small-caps;
  font-weight: lighter;
}
.img {
  width: 250px;
  height: 230px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.titlediv {
  height: 50px;
  overflow: hidden;
}
